<html>
        <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">
<body>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <img src="images/ronaldo.jpg" class="img-circle" alt="Cinque Terre" height="250px" width="250px">

        </div>
        <div class="col-md-9">

            <h3>Cristiano Ronaldo</h3>
            <p>Cristiano Ronaldo is a Portuguese professional footballer who plays as a forward for Serie A club Juventus and captains the Portugal national team. Often considered the best player in the world and widely regarded as one of the greatest players
                of all time,Ronaldo has won five FIFA Ballon d'or/Best FIFA Men's Player awards,the most for a European player, and four European Golden Shoes. He has won 29 trophies in his career, including six league titles, five UEFA Champions Leagues,
                one UEFA European Championship, and one UEFA Nations League. A prolific goalscorer, Ronaldo holds the records for most goals scored in the UEFA Champions League and the UEFA European Championship, as well as those for most assists in the
                Champions League. He has scored more than 710 senior career goals for club and country.</p>

        </div>
    </div>
</body>

</html>