<html>

<head>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    

    <!-- Latest compiled JavaScript -->
   
    <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
       
        
        <link rel="stylesheet" href="stylesheets/abc.css">  
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css">

    

<style>
  /* body{
      background-image:  url("/images/pic1.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
  } */
  /*h2{

      /* color: white; */
  
  
  

</style>


</head>

<body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">FIFA &#9917</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                          <li><a href="/stats/">Dashboard</a></li>
                          <li><a href="/stats/history">History Statistics</a></li>
                          <li><a href="/stats/goal_analysis">Goal Analysis</a></li>
                          <li><a href="/stats/clue_revenues">Club Revenues</a></li>
                          <li><a href="/stats/delta">Delta Analysis</a></li>
                          <!-- <li><a href="/stats/market_value">Market Values</a></li> -->
                  </ul>
                </li>
               <li class="active"><a href="/topperformer">Top Performers</a></li>
                <li><a href="/buyticket">Tickets</a></li>
                <li><a href="/standings">Rankings</a></li>
                <li ><a href="/bookings">Your Bookings</a></li>
                <li ><a href="/matches">Matches</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>  <b> <%= name %></b></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <!--
<div id="animate">
<body onload = "init()">
    <canvas id = "canvas"
            height = "110"
            width = "1600">
        <p>Canvas not supported!</p>
    </canvas>
    </div>
    -->
    <br/>
    <br/>
    <br/>
    <h2>Top Players</h2>


<!-- ********* <3 ********* TWO ********* <3 ********* -->
<ul class="two">
  <li class="transition">
    <div class="wrapper"> <img class="transition" src="images/messi111.jpg" style="border-radius: 50%">
      <ul class="social">
        <li>Young forward from Barcelona. He is the greatest of all time. <br>
          Find him on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3>Lionel Messi <em>Forward</em></h3>
      <i>more</i> </span> </div>
  </li>
  <li class="transition">
    <div class="wrapper"> <img class="transition" src="images/ronaldo11.jpg" style="border-radius: 50%">
      <ul class="social">
        <li>Lethal finisher from Portugal. Loves scoring goals. <br>
          Find him on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3>Cristiano Ronaldo <em>Winger</em></h3>
      <i>more</i> </span> </div>
  </li>
  <li class="transition">
    <div class="wrapper"> <img class="transition" src="images/neymar1.jpg" style="border-radius: 50%">
      <ul class="social">
        <li>A skillful winger form Brazil. Natural Talent. <br>
          Find him on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3>Neymar Jr <em>Winger</em></h3>
      <i>more</i> </span> </div>
  </li>
  <li class="transition">
    <div class="wrapper"> <img class="transition" src="images/lahm12.jpg" style="border-radius: 50%">
      <ul class="social">
        <li>Versatile right-back from Germany. FC Bayern legend <br>
          Find him on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3>Philipp Lahm<em>Defender</em></h3>
      <i>more</i> </span> </div>
  </li>
</ul>
<!-- ********* <3 ********* THREE ********* <3 ********* -->

    <ul class="two">
        <li class="transition">
          <div class="wrapper"> <img class="transition" src="images/mbappe.jpg" style="border-radius: 50%">
            <ul class="social">
              <li>Youth sensational french goalscorer. Electrifying speed with natural talent. <br>
                Find him on:</li>
              <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
            </ul>
            <span class="transition">
            <h3>Kylian Mbappe <em>Striker</em></h3>
            <i>more</i> </span> </div>
        </li>
        <li class="transition">
          <div class="wrapper"> <img class="transition" src="images/buffon1.jpg" style="border-radius: 50%">
            <ul class="social">
              <li>Veteran Italian showstopper. Plays for Juventus and shows great reflexes. <br>
                Find him on:</li>
              <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
            </ul>
            <span class="transition">
            <h3>Gianluigi Buffon <em>Goalkeeper</em></h3>
            <i>more</i> </span> </div>
        </li>
        <li class="transition">
          <div class="wrapper"> <img class="transition" src="images/iniesta.jpg" style="border-radius: 50%">
            <ul class="social">
              <li>Spanish magician with great flair. FC Barcelona legend and World cup winner. <br>
                Find him on:</li>
              <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
            </ul>
            <span class="transition">
            <h3>Andres Iniesta <em>Midfielder</em></h3>
            <i>more</i> </span> </div>
        </li>
        <li class="transition">
          <div class="wrapper"> <img class="transition" src="images/ronaldinho.jpg" style="border-radius: 50%"> 
            <ul class="social about">
              <li>The most skillful player ever. FC Barcelona legend and mentor to Messi <br>
                Find him on:</li>
              <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
              <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
            </ul>
            <span class="transition">
            <h3>Ronaldinho Gaucho <em>Winger</em></h3>
            <i>more</i> </span> </div>
        </li>
      </ul>

    







</body>

</html>