<html>

<head>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="../stylesheets/index.css">

    <style type="text/css">
        #home_canvas {
            position: fixed;
        }

        body {margin: 0;}

        ul.sidenav {
            list-style-type: none;
            margin: 0;
            padding: 0;
           
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        ul.sidenav li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

        ul.sidenav li a.active {
            background-color: #4CAF50;
            color: white;
        }

        ul.sidenav li a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

        div.content {
            margin-left: 25%;
            padding: 1px 16px;
            height: 1000px;
        }

        @media screen and (max-width: 900px) {
            ul.sidenav {
                width: 100%;
                height: auto;
                position: relative;
            }

            ul.sidenav li a {
                float: left;
                padding: 15px;
            }

            div.content {margin-left: 0;}
        }

        @media screen and (max-width: 400px) {
            ul.sidenav li a {
                text-align: center;
                float: none;
            }
        }

        #side {
            left: 1120px;
            top: 150px;
            bottom: 1000px;
            position: absolute;
            
        }
        li.my-class {
            font-size: 20px;

        }
        
            

        li.my-class::before  {
            content: '⚽';
            margin-left: -20px;
            margin-right: 10px;
            
        }
    </style>
    <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>



</head>

<body style="background-color: rgb(241, 241, 241);">
<div id="aja">

   


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">FIFA &#9917 </a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a href="/home_page">Home</a></li>

                <li class="active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li><a href="/stats/">Dashboard</a></li>
                            <li><a href="/stats/history">History Statistics</a></li>
                            <li><a href="/stats/goal_analysis">Goal Analysis</a></li>
                            <li><a href="/stats/clue_revenues">Club Revenues</a></li>
                            <li class="active"><a href="/stats/delta">Delta Analysis</a></li>
                            <!-- <li><a href="/stats/market_value">Market Values</a></li> -->
                    </ul>
                  </li>
                
                <li><a href="/topperformer">Top Performers</a></li>
                <li><a href="/buyticket">Tickets</a></li>
                <li><a href="/standings">Rankings</a></li>
                <li><a href="/bookings">Your Bookings</a></li>
                 <li><a href="/matches">Matches</a></li> 

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> <b> <%= name %></b></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

    

    <div class="container">
        
        <!--style="width:900px; height:800px; overflow:auto;"-->
        <div id="tableauViz1"  ></div>
        <script>
            function initializeViz() {
                // JS object that points at empty div in the html
                var placeholderDiv = document.getElementById("tableauViz1");
                // URL of the viz to be embedded
                var url = "https://public.tableau.com/views/PremierLeague2010-2011_15739365723580/CompareStats";
                // An object that contains options specifying how to embed the viz
                //https://public.tableau.com/profile/ellenn#!/vizhome/WorldIndicators/GDPpercapita
                //https://public.tableau.com/profile/shridhar8226/#!/vizhome/FootBallAnalysis_15731554533090/Sheet1
                var options = {

                    hideTabs: true,
                    hideToolbar: true,
                };
                viz = new tableau.Viz(placeholderDiv, url, options);

            }
            initializeViz();
        </script>
        
        </div>

        <div id="side" float="right">
                
                <p style="font-size: 30px;text-align: left; font-family: 'inherit', sans-serif;">

                        
                
                    << Plot graphs based on:
                    <ul>
                    <li class="my-class">Points</li>
                    <li class="my-class">Win %</li>
                    <li class="my-class">Goals Scored</li>
                    <li class="my-class">Goal Difference</li>
                    <li class="my-class">Points Per Game (PPG)</li>
                    <li class="my-class">(Shots on Goal) SOG Converion Rate</li>
                    <li class="my-class">Shots Conversion Rate</li>
                    <li class="my-class">Shots</li>
                    </ul>

                </p> 
                

                
        

        </div>




    </div>


</body>

</html>